tikcets/assets/uploads/
assets/js/json/credentials.json
/tickets/assets/uploads
/tickets/assets/uploads
/vendor
/vendor
composer.json
composer.lock
vendor/composer/installed.php
vendor/composer/autoload_static.php
vendor/composer/autoload_classmap.php
vendor/autoload.php
composer.lock
composer.json
vendor/composer/InstalledVersions.php
/vendor
configs/gestion-config/errores_carga.log
vendor/autoload.php
/vendor
/vendor
composer.lock
