h3,h4{
    color: #33435e;
}
p{
    color: #33435ebd;
    font-size: smaller;
    margin: 0px;
    margin-left: 5px;
}
.mv-form{
    color: #33435e;
}
.choices {
    width: 100%;
}

.choices__inner {
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #33435e;
    background-color: #E9F4F9; 
    border: 1px solid #ced4da; 
    border-radius: 0.25rem;
}

.choices__list--dropdown {
    z-index: 1000;
}

.choices[data-type*='select-one'] .choices__inner {
    padding-right: 2.25rem;
}
.estado-select, .desv-select{
    width: 40%;
}
.btn-delt{
    background-color: #fff;
}

.main-div{
    background-color: #fff;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 40px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
.form-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.extra-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
}
