.main-crud{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    padding: 40px;
    margin: 0 auto;
    margin-top: 50px;
    color: #33435e;
}
.table{
    text-align: justify;
}
.input-group-text{
    font-size: small;
}
td {
    vertical-align: middle;
}
.form-row-modal{
    display: flex;
    justify-content: space-between;
    gap: 20px; 
}
.form-group{
    width: 100%;
}
.modal-content {
    color: #33435e;
}
.modal-body p{
    font-size: large;
    text-align: center;
}
span{
    color: red;
}