input, .form-control, .form-select{
  background-color: #fff;
}

/* ESTILOS MODAL */
.add-task, .del-task{
  padding: 0;
  border-radius: 50%; 
  width:30px; 
  height:30px;
  margin: 2px;
  margin-bottom: 5px;
}
.add-task{
  background-color: green;
}
.add-task:hover{
  background-color: green;
}
.add-task:active, .del-task:active{
  transform: scale(0.9);
}
.add-icon{
  line-height: 30px;
  font-size: medium;
  color: white;
}


/*Estilos ticket*/

.img img{
  margin-top: 2%;
  width: 50%;
}

.grid {
  clear: both;
  margin-top: 0px;
  margin-bottom: 25px;
  padding: 0px;
}
.grid.simple {
  padding: 0px !important;
}
.grid.simple .grid-title {
  padding: 14px 15px 7px 15px;
  border-bottom: 1px solid #eee;
  color: #282323 !important;
  background-color: #ffffff;
  margin-bottom: 0px;
  border: 1px solid #dddddd;
  border-bottom: 0px;
}
.grid.simple .grid-title > .actions > .btn > i {
  color: #ffffff !important;
}
.grid.simple .grid-title .tools {
  margin-top: 0px;
  position: relative;
}
.grid.simple .grid-title.no-border {
  border: 0px;
  border-bottom: 0px;
}
.grid.simple .form-actions {
  margin-right: -26px !important;
  margin-left: -26px !important;
  margin-bottom: -26px !important;
}
.grid.simple.transparent .grid-body {
  background-color: transparent !important;
  border: none;
}
.grid.simple.transparent .grid-title {
  border: none;
  border-bottom: 1px solid #D7DBE0;
  background-color: transparent;
}
.grid.simple .grid-body {
  background-color: #ffffff;
  padding: 26px;
  border: 1px solid #dddddd;
  color: #6f7b8a;
}
.grid.simple .grid-body.no-padding {
  padding: 0px;
}
.grid.simple .grid-body .wrap-body {
  padding: 0 26px;
  padding-top: 10px;
}
.grid.simple .grid-body.no-border {
  border: 0px;
  padding-top: 1px;
}
.grid.simple .grid-body h4 {
  font-weight: 100;
  margin: 10px 0;
  color: #34435E;
  text-align: center;
}
.grid.simple .grid-body h3 {
  margin: 10px 0;
  color: #34435E;
  font-weight: 100;

}
.grid.simple .grid-body.invoice-body {
  padding: 30px;
}
.grid.simple .grid-body.invoice-body .invoice-logo {
  margin-bottom: 18px;
}

.post .user-profile-pic-wrapper {
  display: inline-block;
  float: left;
  margin-right: 16px;
}
    
.grid:after,
.grid:before {
  display: table;
}
.grid-title {
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
}
.grid-title h4 {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 7px;
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.grid-title h4 i {
  font-size: 14px;
  margin-right: 5px;
  color: #666;
}
.grid-title.descriptive {
  padding-left: 23px !important;
  padding-top: 20px !important;
}
.grid-title.descriptive .actions {
  margin-right: 14px;
  margin-top: -16px;
}
.grid-title.descriptive .actions a {
  color: #4c5264;
}
.grid-title.descriptive .actions a:hover {
  opacity: 0.5;
}
.grid-title.descriptive .actions i {
  font-size: 22px;
  margin-right: 10px;
}
.grid-title.descriptive p {
  display: inline-block;
  width: 60%;
  white-space: nowrap;
  line-height: 23px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #7a7d82;
  font-size: 12px;
}
.grid-title.clickable {
  cursor: pointer;
}
.grid-title .tools > a {
  display: inline-block;
  height: 16px;
  margin-left: 5px;
}
.grid-title .tools > a:hover {
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  opacity: .6;
}
.grid-title .dropdown-menu i {
  color: #000;
}
.grid-title .actions > .btn-group {
  margin-top: -12px;
}
.grid-title .actions > .btn-group > .btn {
  padding: 4px 10px;
  margin-top: -1px;
}
.grid-title .actions > .btn {
  padding: 4px 10px;
  margin-top: -13px;
}
.grid-title .actions > .btn.mini {
  margin-top: -12px;
  padding: 4px 10px;
}
.grid-title .pagination.pagination-small {
  float: right !important;
  display: inline-block !important;
  margin: 0px;
  margin-top: -2px;
}
.grid-title .tools,
.grid-title .actions {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-top: 6px;
  float: right;
}
.grid-body {
  padding: 0;
}
.grid-body .btn-toolbar {
  margin: 0px !important;
  padding: 0px !important;
}
.grid-body .slimScrollBar {
  margin-right: 0px !important;
}
.grid-body:before {
  display: table;
  content: " ";
}
.grid-body:after {
  clear: both;
  display: table;
  content: " ";
}
.post .info-wrapper {
  display: inline-block;
  margin-top: 20px;
  float: left;
  width: 80%;
}
.label{
  padding: 3px 9px;
  font-size: 11px;
  text-shadow: none;

}
.label-warning{
  background-color: #fdd01c;
}
.label-important {
  background-color: #f35958;
}
.label-success{
  background-color: #0aa699;
}
.label-et{
  background-color: #5f9ea0;
}

.label-important, .label-success, .label-warning, .label-et{
  color: #ffffff;
  border-radius: 4px;
}

.form-actions {
  background-color: #f4f4f4;
  border: 0px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 19px 20px 26px;
}
.form-actions:after {
  clear: both;
}
.form-actions:before,
.form-actions:after {
  content: "";
  display: table;
  line-height: 0;
}


/*tasks y admin*/
.info-ticket{
  display: inline-block;
}
.status-div{
  display: flex; 
  align-items: center; 
  justify-content: space-between;
  margin: 30px;
  width: 90%;
  margin-top: 0;
}
.status-div select{
  width: auto;
}
.comm{
  margin: 30px 0px;
}

.btn-div{
  display: flex;
  justify-content: space-between;
}
.btn-div button{
  width: 25%;
}

.tsk{
  padding: 0;
  width:25px; 
  height:25px;
  border-radius: 50%;
  margin: 5px;
}
.tsk:active{
  transform: scale(0.9);
}

.tsk i{
  line-height: 27px;
}
.del-modal{
  text-align: center;
  color: #34435E;
}
.del-footer{
  display: flex;
  justify-content: center;
}
.tasks p{
  padding-left: 40px;
}
.t-header{
  width: 98%;
  margin: 0 auto;
  text-transform: capitalize;
}

.fil-main label{
  margin: 0px
}

.group li {
  text-transform: capitalize;
}

/*filtros*/

#filtersForm {
  overflow: hidden; 
  max-height: 0; 
  transition: max-height 0.3s ease-in-out; 
}

#filtersForm.expanded {
  max-height: 500px; 
}

#toggleFiltersBtn {
    display: inline-flex;
    align-items: center;
    background-color: #fff;
    color: #34435E;
}

#toggleFiltersBtn i {
  margin-right: 5px;
}

.fil-main{
  display: flex;
  justify-content: center;
}
.fil-div {
  width: 20%;
  margin-left: 25px;
}
.fil-btn{
  display: flex;
  justify-content: center;
  align-items: end;
  margin-left: 5%;
}
.fil-btn button{
  width: 150px;
  height: 42px;
  background-color: #34435E;
  color: #fff;
  transition: transform 0.2s ease-in-out;
}
.fil-btn button:hover{
  background-color: #34435E;
  color: #fff;
  transform: scale(1.02);
}

.search-div{
  width: 30%;
}
.search-div label{
  margin-top: 5px;
}
.search-div input{
  width:  100%;
}

/* proyectos */
.grid-title h4{
  color:#34435E
}
.grid-title p{
  margin: 0px;
}

.grid-body hr{
  margin: 0 auto;
}

.group{
  color: #34435E;
}
.group p{
}

label, .group li{
  font-size: 13px;
}
.group strong, .pr-row strong{
  color: #34435E; 
  font-weight: 600;
  font-size: 13px;
}

.ing-main{
  align-items: center;
  margin-bottom: 5px;
}
.ing-main p{
  width: 10% !important;
}
.ing-main select{
  font-size: 12px;
  width: 150px;
}
.post{
  display: flex;
  justify-content: center;
}

.ing-main button {
  width: auto;
  margin-left: 5px;
  font-size: 12px;
}

.user-profile-pic-normal img{
  border:1px solid #34435E;
  border-radius:50%;
}

.timg img{
  border: 2px solid #33435e;
  border-radius: 5px;
  max-width: 500px;
  display: flex;
  margin: 0 auto;
}

.gallery {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.gallery-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}

.documents img{
  margin: 5px;
}

@media (max-width: 1390px) {
  .search-div input{
    width: 100%;
  }
  .fil-btn button {
    width: 100%;
  }
  .fil-main{
    justify-content: start;
  }
}