.first-row{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-top: 50px;
    color: #33435e;
}

.first-row h3, .graficos h3{
    font-weight: 600;
}
.t-head i{
    font-size: medium;
}
.t-head h3{
  font-weight: 600;
}
/* card tickets */ 
.card p{
  margin: 1rem;
}
.ptickets-head{
  display: flex;
}
.pticket-body{
  text-align: center;
}
.pticket-title{
  display: none;
}
.btn-updt{
    width: 100% !important;
}


.label {
    padding: 3px 9px;
    font-size: 11px;
    text-shadow: none;
    background-color: #d1dade;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #5E5E5E;
    border-radius: 3px;
  }
  
.label-success {
  background-color: #0aa699;
  color: #ffffff;
}
.label-warning {
  background-color: #fdd01c;
  color: #ffffff;
}
.label-important {
  background-color: #f35958;
  color: #ffffff;
}
.t-footer strong{
  padding-top: 20px;
  font-size: smaller;
}
.gerencia{
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-top: 50px;
  color: #33435e;
  min-height: 20rem;
}

/*graficos*/

.graficos{
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-top: 50px;
  color: #33435e;
}

.row {
  display: flex;
  flex-wrap: wrap; 
  align-items: flex-start; 
  justify-content: space-between;
}

.graficos {
  margin-bottom: 10px; 
  display: block; 
}

#mesSelector{
  text-transform: capitalize;
  width: 20%;
}

.active-btn{
  background-color: #fff;
  color:#33435e;
  border: 1px solid #33435e;
}
.active-btn:hover{
  background-color: #fff;
  color:#33435e;
  border: 1px solid #33435e;
}


/*calendario*/

#calendar a{
  text-decoration: none;
  color: #33435e
}

.fc-toolbar-title{
  text-transform: capitalize;
}

/*responsive*/
@media (max-width: 767px) {
  .card p {
    margin: 0; 
  }
  .ptickets-head{
    display: none;
  }
  .pticket-title{
    display: flex;
  }
  .pticket-body{
    text-align: justify;
  }
}