.post .info-wrapper{
    width: 85% !important;
}

.info {
    background-color: #f4f4f4;
    margin: 0px auto;
    border-radius: 15px;
    width: 85%;
    padding: 20px;
}

.group p{
    font-size: smaller !important;
}
.group strong, .pr-row strong{
    font-size: 14px;
}

.cnt, .lic{
    margin-left: 30px;
}
.cnt strong, .lic strong{
    font-size: 13px;
}

.cnt label, .lic label{
    font-weight: 600;
}
.left-bar{
    background-color: #33435e;
    width: 4px;
    margin-right: 20px;
}
.endModal{
    color:#33435e
}
.endModal label{
    font-weight: 600;
    font-size: medium;
}
.material-item{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    min-width: 300px;
    width: 50%
}
.material-item p, .materials p{
    margin: 0px;
}
.material-item div, .materials div{
    width: 25%;
    margin-bottom: 2%;
    text-align: center; 
}

.materials div{
    color: #33435e;
}
.materials{
    display: flex;
    margin: 0 auto;
    justify-content: space-between; 
    align-items: center; 
    width: 85%;
}
.material-total{
    display: flex;
    margin: 0 auto;
    justify-content: flex-end;
    width: 85%;
    border-top: 1px solid;
    color: #33435e;
}
